@model LoginViewModel

<div class="row">

    @if (Model.EnableLocalLogin)
    {
        <div class="col-md-4">

            <h1 class="mt-5 mb-3">Login</h1>

            <form asp-route="Login">
                <input type="hidden" asp-for="ReturnUrl" />
                <div class="form-group">
                    <label asp-for="Username">Usuário</label>
                    <input class="form-control" placeholder="Usuário" asp-for="Username" autofocus>
                </div>

                <div class="form-group">
                    <label asp-for="Password">Senha</label>
                    <input type="password" class="form-control" placeholder="Senha" asp-for="Password" autocomplete="off">
                </div>

                @if (Model.AllowRememberLogin)
                {
                    <div class="form-check">
                        <input type="checkbox" asp-for="RememberLogin" class="form-check-input">
                        <label asp-for="RememberLogin" class="form-check-label">Permanecer Logado</label>
                    </div>
                }

                <div class="mt-4 mb-4">
                    <button class="btn btn-primary" name="button" value="login">Login</button>
                    <button class="btn btn-light" name="button" value="cancel">Cancelar</button>
                </div>

                <partial name="_ValidationSummary" />
            </form>
        </div>
    }
    
</div>
