<div class="row justify-content-center">
  <div class="col-md-8 text-center">
    <form *ngIf="!success" #f="ngForm" (ngSubmit)="onSubmit()">
      <img class="mb-4" src="assets/images/logo_sgq.png" alt="" width="190" height="125">
      <h1 class="h3 mb-3 font-weight-normal">Registrar</h1>
      <div class="row">
        <div class="col-md col-xs">
          <div class="form-group">
            <label for="name" class="sr-only">Nome</label>
            <input type="text" id="name" name="name" [(ngModel)]="userRegistration.name" class="form-control" placeholder="Seu nome" required autoFocus>
          </div>
        </div>
        <div class="col-md col-xs">
          <div class="form-group">
            <label for="name" class="sr-only">Sobrenome</label>
            <input type="text" id="sobrenome" name="sobrenome" [(ngModel)]="userRegistration.sobrenome" class="form-control" placeholder="Sobrenome" required>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md col-xs">
          <div class="form-group">
            <label for="name" class="sr-only">Pais</label>
            <input type="text" id="pais" name="pais" [(ngModel)]="userRegistration.pais" class="form-control" placeholder="Pais" required>
          </div>
        </div>
        <div class="col-md col-xs">
          <div class="form-group">
            <label for="name" class="sr-only">Cidade</label>
            <input type="text" id="cidade" name="cidade" [(ngModel)]="userRegistration.cidade" class="form-control" placeholder="Cidade" required>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md col-xs">
          <div class="form-group">
            <label for="name" class="sr-only">Estado</label>
            <input type="text" id="estado" name="estado" [(ngModel)]="userRegistration.estado" class="form-control" placeholder="Estado" required>
          </div>
        </div>
        <div class="col-md col-xs">
          <div class="form-group">
            <label for="name" class="sr-only">Cep</label>
            <input type="text" id="cep" name="cep" [(ngModel)]="userRegistration.cep" class="form-control" placeholder="Cep" required>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md col-xs">
          <div class="form-group">
            <label for="endereco" class="sr-only">Endereço</label>
            <input type="text" id="endereco" name="endereco" [(ngModel)]="userRegistration.endereco" class="form-control" placeholder="Endereco" required>
          </div>
        </div>
        <div class="col-md col-xs">
          <div class="form-group">
            <label for="telefone" class="sr-only">Telefone</label>
            <input type="text" id="telefone" name="telefone" [(ngModel)]="userRegistration.telefone" class="form-control" placeholder="Telefone" required>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md col-xs">
          <div class="form-group">
            <label for="email" class="sr-only">Email</label>
            <input type="email" id="email" name="email" #email="ngModel" [(ngModel)]="userRegistration.email" class="form-control" placeholder="Email" email required>
            <small [hidden]="email.valid || (email.pristine && !submitted)" class="text-danger">Por favor digite um email válido</small>
          </div>
        </div>
        <div class="col-md col-xs">
          <div class="form-group">
            <label for="password" class="sr-only">Senha</label>
            <input type="password" id="password" name="password" [(ngModel)]="userRegistration.password" class="form-control" placeholder="Senha" aria-describedby="passwordHelp" required>
            <small id="passwordHelp" class="form-text text-muted">Minimo 6 caracteres com pelo menos um caractere não alfanumérico</small>
          </div>
        </div>
      </div>

      <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!f.form.valid">Enviar</button>
      <ngx-spinner></ngx-spinner>
      <div *ngIf="error" class="alert alert-danger mt-3" role="alert">
        <strong>Oops!</strong> {{error}}
      </div>
    </form>
    <div *ngIf="success" class="alert alert-success" role="alert">
      <h4 class="alert-heading">Muito bem!</h4>
      <p>Sua conta foi criada com sucesso <a routerLink="/login">Por favor faça o login</a> para continuar.</p>
    </div>
  </div>
</div>
